<div class="center jumbotron">

  <h1>Bienvenue sur la page des comments de l'article n*<%= @comment.gossip_id %>!</h1>

  <h3>Ici, tu vas pouvoir écrire le commentaire que tu veux sur l'article selectionné.</h3> 

</div>

<%= form_for @comment, url: {action: "create"} do |f| %>

  <div class = "form-group">
    Indique ici ton nom cher commentateur<br />
    <%= f.text_field :anonymous_commentator %><br />
  </div>

  <div class = "form-group">
    Ecris ici ton petit commentaire:<br />
    <%= f.text_area :body %><br />
  </div>

  <div class = "form-group">
    <button class= "btn btn-default">Soumettre mon commentaire!</button> <!-- ou: <%= f.submit "Submit" %> -->
  </div>

<% end %>




