<div class="center jumbotron">

  <h1>Ton gossip a bien été enregistré !</h1>

  <p><strong><%= @gossip.anonymous_author %></strong>, voici un récap de ton gossip:</p> 
  <h3><%= @gossip.content %></h3>

  <div class = form-row>
    <div class = "col-4">
      <a href= "<%= edit_gossip_path %>" class="btn btn-info">Tu veux éditer ton gossip? Appuie là!</a><br />
    </div>
    
    <div class = "col-4">
      <a href= "<%= gossips_path %>" class="btn btn-primary">Revenir à la liste de tous les gossips</a><br />
    </div>

    <div class = "col-4">
      <a href= "<%= new_gossip_comment_path(@gossip.id) %>" class="btn btn-success">Tu veux commenter ce gossip?</a><br />
    </div>
  </div>

</div>

<%= render "comments/index" %>

