<body>

  <div class="center jumbotron">

  <!-- Différence d'affichage du gossip en fonction de si le current user en est l'auteur ou non -->

  <% if current_moussaillon.id == @gossip.moussaillon_id %>

    <h3>Voici ton gossip <%= @gossip_anonymous_author %>:</h3>
    <p><strong><%= @gossip.content %></strong></p>

    <div class = row>

      <div class = "col-4">
        <a href= "<%= edit_gossip_path %>" class="btn btn-info">Pour éditer le gossip, c'est par là</a><br />
      </div>

      <div class = "col-4">
        <a href= "<%= gossips_path %>" class="btn btn-primary">Revenir à la liste de tous les gossips</a><br />
      </div>

    </div>

  <% else %>
  
    <h3>Voici le gossip de <%= @gossip_anonymous_author %>:</h3>
    <p><strong><%= @gossip.content %></strong></p>

  <% end %>

  </div>


  <h3 style="margin-left: 30px;">Ici, tu vas pouvoir écrire le commentaire que tu veux sur cet article.</h3>

  <div class = row style="margin-left: 30px;">

    <%= form_for [@gossip, @comment] do |f| %>

      <div class = "form-group">
        Indique ici ton nom cher commentateur<br />
        <%= f.text_field :anonymous_commentator %><br />
      </div>

      <div class = "form-group">
        Ecris ici ton petit commentaire:<br />
        <%= f.text_area :body %><br />
      </div>

      <div class = "form-group">
        <button class= "btn btn-default">Soumettre mon commentaire!</button> 
      </div>

    <% end %>

  </div>


  
  <h3 style="margin-left: 30px;">Retrouve ici les commentaires déjà postés sur cet article.</h3>

    <% @comments.each do |comment| %>

      <dl style="margin-left: 30px;">
          <dt>Le comment posté par <%= comment.anonymous_commentator %>:</dt>
          <dd><%= comment.body %></dd>
          <a href= "<%=  edit_gossip_comment_path(@gossip.id,comment.id) %>" class="btn btn-primary">Editer le commentaire</a><br />
      </dl>

    <% end %>

</body>
